
{% extends 'base.html' %}
{% load static %}

{% block content %}

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Regular Page</h3>
						<ul class="breadcrumb-tree">
							<li><a href="{% url 'home' %}">Home</a></li>
							<li class="active">Login</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		
  <!-- Main Container -->
  <section class="">
    <div class="container ">
     
      
          <h1 class="first">Reset Password</h1>
     
        <div class="" >
       
       

          <div>

            </div>
            <form action="" method="POST" >
             
              <div class="col-2 registered-users">
                <div class="content">
                  {% csrf_token %}
                  
                  {{ form.non_field_errors }}
  
                  {% for field in form %}
                    <div class="form-group" style="width:30%">
      
                        {{field}}
                        <ul>
                        {% for error in field.errors %}
                            <li >{{error}}</li>
                        {% endfor %}
                        </ul>
                    </div>
                  {% endfor %}
                  <p class="required" style="color: red ;">* Required Fields</p>
                  <div class="buttons-set">
                    <button  name="" type="submit" id="logintbtn"  class="btn btn-primary btn-lg active"><span>Submit</span></button>

                  </div>
                </div>
               
    
              </div>
  
            </form>

          </div>
        </div>
    
    
  </section>
  <!-- Main Container End --> 
		<!-- /SECTION -->

{% endblock %}
